<div class="search-export-formats">
  Exportar Página:
  <%= botaoExportador("JSON",search_url_format("json")) %>
  <%= botaoExportador("XML",search_url_format("xml")) %>
  <%= botaoExportador("Atom",search_url_format("atom")) %>
  <%= botaoExportador("RSS",search_url_format("rss")) %>
</div>
