/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self

 paleta http://paletton.com/#uid=33t0u0koCpr1OTcffvLvnhcUL5E
 */

@font-face {
    font-family: diario;
    src: url('/fonts/SpecialElite.ttf');
}
@font-face {
    font-family: livre;
    src: url('/fonts/FingerPaint-Regular.ttf');
}

#header-navbar .navbar-brand {
    width: inherit;
    height: inherit;
    background: none;
    display: inherit;
    text-indent: inherit;
    white-space: inherit;
    overflow: inherit;
    padding-right: inherit;
    margin-right: inherit;
    padding-left: inherit;

}
.navbar-brand {
    line-height: 15px;
    font-size: 30px;
}
.navbar {
	border-top: 0px;
}
h1 > span.font1, h1 > span.font2 {
    font-size: 60px;
}
.navbar-default .navbar-nav > li > a {
    color: #896403;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #2D0A00;
	background-color: #FFDED6;
}


.date_range input{
  margin-bottom: 5px;
}

.input-group{
  float:left;
}

.more-information{
  float:left;
  margin-left: 10px;
  margin-top: 15px;
}

.search-export-formats{
  text-align:right;
  margin-bottom: 10px;
}

a {
	color: #896403;
}
a:hover, a:focus {
    color: #2D0A00;
}
.form-control:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(203, 160, 47, 0.6);
    border-color: rgb(203, 160, 47);
}

.btn-primary {
    background-color: #CBA02F;
    border-color: #B48E29;
	text-shadow: 1px 1px 1px #777;
}
#search-navbar {
	background-color: #892103;
	border-color: #2D0A00;
    /*background-color: #5887A1;
    border-color: #063B57;*/
	box-shadow: 0px 1px 5px #000;
}
.nav > li > a.btn-primary:hover, .nav > li > a.btn-primary:focus {
    background-color: #9E7400;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-color: #9E7400;
    border-color: #7D5C03;
}

.pagination > li > a, .pagination > li > span {
    color: #896403;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	background-color: #896403;
    border-color: #896403;

}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: #896403;
}

.font1 {
    font-family: diario;
    color: black;
}
.font2 {
    font-family: livre;
    color: #CB522F;
}
