markdown:

  # Sobre

    Este é um site experimental desenvolvido para possibilitar uma nova forma de acessar os artigos do [Diário Oficial do município de São Paulo](//www.docidadesp.imprensaoficial.com.br).
    Ele foi possível graças a uma [parceria entre a CGM e a USP](//www.prefeitura.sp.gov.br/cidade/secretarias/controladoria_geral/noticias/?p=182421), mais especificamente a [Coordenadoria de Promoção da Integridade (COPI)](//www.prefeitura.sp.gov.br/cidade/secretarias/controladoria_geral/coordenadoria_de_promocao_da_integridade/) e o [Colaboratório de Desenvolvimento e Participação (Colab)](//colab.each.usp.br).
    Há uma página específica sobre as [bases de dados dos diários oficiais usadas por este site](#{baixar_path}), elas são uma contribuição fundamental da [Secretaria Municipal de Planejamento, Orçamento e Gestão (SEMPLA)](//www.prefeitura.sp.gov.br/cidade/secretarias/planejamento/).

    É importante frisar que a versão do Diário Oficial disponibilizada aqui **NÃO POSSUI VALOR LEGAL**, ao contrário da publicada pelo site oficial.

    Aqui pode ser encontrada nossa [política de privacidade](#{privacidade_path}).

  ## Questionário

    Pelo carater experimental deste projeto, e por ele estar inserido em uma pesquisa sobre [Dados Abertos Governamentais](//pt.wikipedia.org/wiki/Dados_abertos), pedimos encarecidamente que você responda nosso [questionário](#{linkQuestionario}).


  ## Desenvolvimento

  Este site é um [software livre](//pt.wikipedia.org/wiki/Software_livre) e aqui pode ser encontrado o [repositório do código fonte](//github.com/rafaeusantana/docsolr). Seus principais desenvolvedores são **Rafael Santana** e **Andrés M. R. Martano**. Porém, ele não seria possível sem a ajuda de [tod@s que participaram deste projeto](#{creditos_path}).

  Este site se baseia principalmente em duas tecnologias (também livres): [BlackLight](//projectblacklight.org) e [Solr](//lucene.apache.org/solr).
