markdown:

    # Exportadores

    Exportadores são maneiras de extrair os dados disponíveis aqui para formatos mais fáceis de serem utilizá-los em outros sistemas ou programas. Quando você faz uma busca nesse site, terá no canto superior direito os botões para extrair a busca feita nos seguintes formatos:

    - [JSON](https://pt.wikipedia.org/wiki/JSON)
    - [XML](ttps://pt.wikipedia.org/wiki/XML)
    - [Atom](ttps://pt.wikipedia.org/wiki/Atom)
    - [RSS](ttps://pt.wikipedia.org/wiki/RSS)

    Os dois primeiros geralmente serão mais úteis para pessoas que queiram desenvolver sites ou programas importando automaticamente os dados daqui.

    Já os dois últimos são "agregadores de notícias". Formatos próprios para quem quer receber avisos quando surgirem mais artigos em uma determinada busca.
    A maioria dos navegadores consegue lidar com esses formatos simplesmente clicando no link correspondente.
    O programas de leitura de e-mail também costumam coseguir usar esses links.
    Além disso, esse protocolos são suportados por uma infinidade de programas e sites.
    Aqui há uma lista de [alguns programas para acompanhar RSS ou Atom](https://en.wikipedia.org/wiki/Comparison_of_feed_aggregators).
    Atualmente os resultados retornados por Atom estão com mais informações sobre os artigos encontrados do que os via RSS. Escolha o que preferir. De qualquer forma, você deverá poder clicar nos links para os artigos e lê-los na íntegra.
