markdown:

  # Política de Privacidade

  ## Cookies

  Este site utiliza cookies com três propósitos:

  - Saber quando você fechou a barra anunciando sobre o questionário, para que ela não apareça de novo.
  - Login, caso você crie um usuário para ter acesso às funcionalidades personalizadas.
  - Estatísticas de uso do site.

  ## Estatísticas de Uso

    A grande maioria dos site utiliza algum tipo de registro de acesso para analisar coisas como: quantas pessoas acessaram o site, quais as páginas mais vistas, quais os navegadores/dispositivos mais utilizados, etc.
    Esses dados podem permitir que o site seja aprimorado de acordo com as necessidades encontradas.
    Porém, a coleta desses dados pode representar um problema de privacidade, especialmente quando a grande maioria dos sites utiliza uma mesma ferramenta que envia todos os dados para uma mesma empresa, [Google Analytics](https://en.wikipedia.org/wiki/Google_Analytics#Privacy_issues).

    Buscando contornar tal questão, este site utiliza uma ferramenta livre de análise de acesso, a [Piwik](http://piwik.org/), que, hospedada em nosso próprio servidor, não requer o envio dos dados à terceiros.
