<!DOCTYPE html>
<html>
<head>
  <title>Docsolr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Piwik -->
	<script type="text/javascript">
  var _paq = _paq || [];
    _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	    (function() {
			    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://devcolab.each.usp.br/piwik/";
				    _paq.push(['setTrackerUrl', u+'piwik.php']);
					    _paq.push(['setSiteId', 2]);
						    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
							    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
								  })();
	</script>
	<noscript><p><img src="http://devcolab.each.usp.br/piwik/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->


<%= yield %>

</body>
</html>
